<h1>一覧</h1>
<div class="borderLine"></div>
<h2>物件一覧</h2>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
<% @housings.each do |h| %>
  <tr>
    <td><%= h.build %></td>
    <td><%= h.rent.to_s(:delimited, delimiter: ',') %>円</td>
    <td><%= h.add %></td>
    <td><%= h.year %></td>
    <td><%= h.remarks %></td>

    <td><%= link_to '詳細', housing_path(h.id) %></td>
    <td><%= link_to '編集', edit_housing_path(h.id) %></td>
    <td><%= link_to '削除', housing_path(h.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '物件を登録する', new_housing_path %>
